<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../styles/main.css">
    <title>Cherry Blossom</title>
  </head>
  <body>
    <div > <!-- navigation-->
      <nav>
        <a href = "/"  class = "navitems">home</a>
      </nav>

    </div>


    <h1 id = "title">Cherry Blossom</h1>


    <h2 class = "search">Enter an Anime Title</h2>

    <form action="/" method="post">
      <input  type="text" name="getAnime" value=" "class = "search">
      <input  type="submit" value="search!">
    </form>


  </body>
</html>
